# ============================
# 可执行文件 & 二进制
# ============================
*.exe
*.dll
*.so
*.dylib
*.bin
*.com
*.bat

# ============================
# 图片 & 媒体
# ============================
*.png
# *.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico

# ============================
# Qt 设计文件
# ============================
*.ui
*.qrc

# ============================
# Python 编译文件
# ============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

# ============================
# 数据 & 日志
# ============================
data/
log/
backup/
*.key
*.log
*.xdb

# ============================
# 虚拟环境
# ============================
venv/
.venv/
env/

# ============================
# IDE / 编辑器 / OS
# ============================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# ============================
# 其他非代码文件
# ============================
*.txt
*.tmp
*.bak
*.orig
*.zip
*.tar.gz
*.c
*.h
*.go
*.mod
*.sum

